[submodule "elisp/auto-complete.git"]
	path = elisp/auto-complete.git
	url = https://github.com/m2ym/auto-complete.git
[submodule "elisp/popup-el.git"]
	path = elisp/popup-el.git
	url = https://github.com/m2ym/popup-el.git
[submodule "elisp/fuzzy-el.git"]
	path = elisp/fuzzy-el.git
	url = https://github.com/m2ym/fuzzy-el.git
[submodule "elisp/yasnippet.git"]
	path = elisp/yasnippet.git
	url = https://github.com/capitaomorte/yasnippet.git
[submodule "elisp/jade-mode.git"]
	path = elisp/jade-mode.git
	url = https://github.com/brianc/jade-mode.git
[submodule "elisp/yaml-mode.git"]
	path = elisp/yaml-mode.git
	url = https://github.com/yoshiki/yaml-mode.git
[submodule "elisp/popwin-el.git"]
	path = elisp/popwin-el.git
	url = https://github.com/m2ym/popwin-el.git
[submodule "elisp/markdown-mode.git"]
	path = elisp/markdown-mode.git
	url = https://github.com/defunkt/markdown-mode.git
[submodule "elisp/themes/twilight-emacs.git"]
	path = elisp/themes/twilight-emacs.git
	url = git@github.com:shanderlam/twilight-emacs.git
